@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <img src="~/images/australia_zoo_tigers1.jpg" alt="zoo" width="400" height="300" asp-append-version="true" />
</div>